@import "variables";

.board {
  font-size: 16px;
  .board-name {
    position: fixed;
  }
  .deceive-focus:focus {
    outline: none;
  }
  .edit-board-name {
    font-size: 30px;
    width: 1050px;
    cursor: pointer;
    &:focus {
      cursor: text;
    }
  }
  .trash-icon {
    cursor: pointer;
    &.archive-board {
      color: #d9534f;
    }
  }
}